:root {
  --padding: 1rem;
  --margin: 1rem;
  --primary-color: hsl(262, 83%, 58%);
  --primary-dark: hsl(264, 67%, 35%);
  --primary-light: hsl(255, 92%, 76%);
  --text: white;
}

/* <<< Avatar >>> */

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: var(--margin);
}
.avatar--letter {
  background-color: var(--primary-color);
  color: var(--text);
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}
.avatar--fallback-icon {
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  color: var(--primary-color);
}

/* <<< Alert >>> */

.alert {
  padding: var(--padding);
  border-radius: 4px;
}
.alert--success {
  background-color: hsl(120, 100%, 80%);
  color: hsl(120, 100%, 20%);
}
.alert--info {
  background-color: hsl(240, 100%, 80%);
  color: hsl(240, 100%, 20%);
}
.alert--warning {
  background-color: hsl(60, 100%, 80%);
  color: hsl(60, 100%, 20%);
}
.alert--error {
  background-color: hsl(0, 100%, 80%);
  color: hsl(0, 100%, 20%);
}

/* <<< Badge >>> */

.badge {
  position: relative;
}
.badge--icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 2px;
  margin: 0px;
}
.badge--avatar {
  position: absolute;
  right: 12px;
  bottom: 4px;
  font-size: 13px;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
  border: solid white 2px;
}

/* <<< Button >>> */

.button {
  border-radius: 8px;
  border: solid var(--primary-color);
  margin: 0.5rem;
  padding: 1rem;
}
.button:active {
  position: relative;
  top: 2px;
}
.button--primary {
  background-color: var(--primary-color);
  color: var(--text);
}
.button--primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.button--secondary {
  color: var(--primary-color);
  background-color: var(--text);
}
.button--secondary:hover {
  color: var(--text);
  background-color: var(--primary-color);
}
.button--link {
  border: none;
  color: var(--primary-color);
  background-color: transparent;
}
.button--link:hover {
  text-decoration: underline;
}
.button--icon {
  border: none;
  font-size: 2rem;
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.5rem;
}
.button--icon:hover {
  background-color: var(--primary-dark);
  color: var(--text);
}
.button--icon-text {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.5rem;
}
.button--icon-text:hover {
  background-color: var(--primary-dark);
  color: var(--text);
}
.button--floating-action {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--primary-color);
  color: var(--text);
  border-radius: 50%;
  z-index: 1;
  border: none;
  margin: 0.5rem;
  padding: 1rem;
}
.button--floating-action:hover {
  background-color: var(--primary-dark);
}
.button--dismiss {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 50%;
  border: none;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  color: white;
  background-color: var(--primary-color);
}

/* <<< Card >>> */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 15rem;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--primary-light);
}
.card__image {
  border-radius: 8px 8px 0px 0px;
}
.card__title {
  padding: 1rem;
  padding-bottom: 0px;
  margin: 0px;
}
.card__description {
  padding: 1rem;
  margin: 0px;
}
.card__badge {
  width: auto;
  height: 1rem;
  position: absolute;
  background: var(--primary-color);
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0 0.5rem;
  color: white;
}
.card__badge:after {
  content: "";
  position: absolute;
  right: -0.5rem;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--primary-color);
  border-bottom: 0.5rem solid var(--primary-color);
}
.card--text-overlay {
  color: var(--primary-light);
  opacity: 90%;
}
.card--text-overlay > button {
  opacity: 90%;
  background-color: transparent;
  color: var(--primary-light);
  border: solid var(--primary-light);
}
.card__image--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 100%;
  z-index: -1;
  border-radius: 8px;
}
.card--horizontal {
  display: flex;
  flex-direction: row;
  max-width: 30rem;
  max-height: 20rem;
}
.card__horizontal__image {
  width: 50%;
  border-radius: 8px 0px 0px 8px;
}
.card--horizontal > section {
  border-radius: 0px 8px 8px 0px;
}

/* <<< Image >>> */

.image--responsive {
  width: 100%;
  height: auto;
}
.image--round {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
}
.image--round--center {
  margin-left: -25%;
}
.image--round > img {
  width: auto;
  height: 100%;
}

/* <<< Input >>> */

.input {
  background-color: hsl(0, 0%, 70%);
  border-radius: 4px 4px 0px 0px;
  border: none;
  border-bottom: solid hsl(0, 0%, 30%) 2px;
  margin: 10px;
  color: var(--text);
}
.input::placeholder {
  color: hsl(0, 0%, 30%);
}
.input:focus {
  outline: solid hsl(0, 0%, 30%);
  border-radius: 0;
  border: none;
}
.input--valid {
  border-bottom: solid hsl(120, 100%, 50%) 2px;
  background-color: hsl(120, 100%, 90%);
}
.input--valid::placeholder {
  color: hsl(120, 100%, 50%);
}
.input--valid:focus {
  outline: solid hsl(120, 100%, 50%);
  border-radius: 0;
  border: none;
}
.input--invalid {
  border-bottom: solid hsl(0, 100%, 50%) 2px;
  background-color: hsl(0, 100%, 90%);
}
.input--invalid::placeholder {
  color: hsl(0, 100%, 50%);
}
.input--invalid:focus {
  outline: solid hsl(0, 100%, 50%);
  border-radius: 0;
  border: none;
}

/* <<< List >>> */
.list {
  list-style: none;
  background-color: var(--primary-color);
  padding: 1rem;
}
.list:hover {
  background-color: var(--primary-dark);
}
.list--spaced__container {
  background-color: var(--primary-light);
  padding: 1rem 0rem;
  border-radius: 8px;
}
.list--spaced {
  border-radius: 8px;
  margin: 1rem;
}
.list--stacked__container {
  padding: 0rem;
}
.list--stacked {
  border-bottom: solid white 1px;
}

/* <<< Modal >>> */

.modal {
  position: relative;
  border-radius: 8px;
  background-color: var(--primary-light);
  color: var(--text);
}
.modal > .header {
  padding: var(--padding);
  padding-bottom: 0;
}
.modal > .main > p {
  padding: 0 var(--padding);
}
.modal > .footer {
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* <<< Navigation >>> */

.nav--mobile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background-color: var(--primary-color);
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  justify-content: center;
}
.nav--mobile > button {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
}
.nav--desktop {
  display: none;
}

/* <<< Rating >>> */

.rating {
  padding: var(--padding);
}
.rating__icon--filled {
  color: var(--primary-dark);
}
.rating__icon--empty {
  color: var(--primary-light);
}

/* <<< Simplified grid >>> */

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--primary-color);
}

/* <<< Snackbar >>> */

.snackbar {
  position: relative;
  border-radius: 8px;
  border: solid var(--primary-light) 2px;
}
.snackbar--text {
  padding: 0rem 1rem;
  font-size: 1.25rem;
}
/* <<< Text Utilities >>> */

.heading {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.text--small {
  font-size: 0.8rem;
  color: var(--primary-color);
}
.text--center {
  text-align: center;
  color: var(--primary-color);
}
.text--grey {
  color: grey;
}

/* <<< Other Utilities >>> */

.shadow {
  box-shadow: 4px 4px 8px black;
}

@media only screen and (min-width: 768px) {
  .nav--mobile {
    display: none;
  }
  .nav--mobile > button {
    display: none;
  }
  .nav--desktop {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    height: 3rem;
  }
  .nav--desktop > a {
    padding: var(--padding);
    text-align: center;
    width: 25%;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    border-bottom: solid var(--primary-color) 4px;
  }
  .nav--desktop > a:focus {
    border-bottom: solid var(--primary-dark) 4px;
    color: var(--primary-dark);
    background-color: var(--primary-light);
  }
}
