:root {
  --padding: 1rem;
  --margin: 1rem;
  --primary-color: hsl(262, 83%, 58%);
  --primary-dark: hsl(264, 67%, 35%);
  --primary-light: hsl(255, 92%, 76%);
  --text: white;
}
body {
  margin: 0px;
  color: var(--text);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 15vh;
  background-color: var(--primary-color);
  z-index: 1;
}
header > h1 {
  padding: 0 var(--padding);
}
header > .fa-github {
  font-size: 3rem;
  color: var(--text);
  background-color: var(--primary-color);
  margin-left: auto;
  height: 100%;
  line-height: 15vh;
  padding: 0 var(--padding);
}
header > .fa-github:hover {
  background-color: var(--primary-dark);
}
header > button {
  font-weight: bold;
}
.components {
  position: fixed;
  top: 15vh;
  left: 0;
  height: 85vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.components > h2 {
  padding: 0 var(--padding);
  color: var(--primary-color);
}
.side-nav {
  overflow-y: scroll;
}
.side-nav > ul {
  padding: 0;
}
.list {
  padding-left: 2rem;
}
.list > a {
  text-decoration: none;
}
.docs {
  margin-top: 15vh;
  margin-left: 20vw;
  padding: var(--padding);
}
footer {
  margin-left: 20vw;
  text-align: center;
  padding: var(--padding);
  background-color: var(--primary-color);
}
footer > h3 > a {
  text-decoration: none;
  color: var(--text);
}
footer > h3 > a:hover {
  text-decoration: underline;
}
footer > nav > .fa-github {
  margin: 0 var(--margin) 0 var(--margin);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
}
footer > nav > .fa-github:hover {
  background-color: var(--primary-dark);
}
footer > nav > .fa-linkedin {
  margin: 0 var(--margin) 0 var(--margin);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
}
footer > nav > .fa-linkedin:hover {
  background-color: var(--primary-dark);
}
footer > nav > .fa-twitter {
  margin: 0 var(--margin) 0 var(--margin);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
}
footer > nav > .fa-twitter:hover {
  background-color: var(--primary-dark);
}
